doctype html
html(layout-fill, lang="en", ng-app="jumplink.cms", ng-controller="AppController")
  head
    //- base(href="/")
    title Bugwelder Sails

    //- Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    if force != 'modern'
      noscript
        meta(http-equiv="refresh" content="0; url="+url+"?force=noscript")
    //- Stylesheets
    
    link(href='/assets/styles/app.css', rel='stylesheet')
    link(href='https://cdn.rawgit.com/angular/bower-material/master/angular-material.css', rel='stylesheet')

    //- Templates
    //- general
    script(type="text/ng-template", id="layout"): include ./layout.jade
    script(type="text/ng-template", id="left-sidenav"): include ./left-sidenav.jade
    script(type="text/ng-template", id="right-sidenav"): include ./right-sidenav.jade
    script(type="text/ng-template", id="toast"): include ./toast.jade
    //- Errors
    script(type="text/ng-template", id="error/content"): include ./error/content.jade
    //- Shipping
    script(type="text/ng-template", id="shipping/content"): include ./shipping/content.jade
    script(type="text/ng-template", id="shipping/bottom-sheet"): include ./shipping/bottom-sheet.jade
    //- VWHeritage
    script(type="text/ng-template", id="vwheritage/content"): include ./vwheritage/content.jade
    script(type="text/ng-template", id="vwheritage/info"): include ./vwheritage/info.jade
    script(type="text/ng-template", id="vwheritage/bottom-sheet"): include ./vwheritage/bottom-sheet.jade
    //- //- admin
    //- script(type="text/ng-template", id="administration/settings"): include ./administration/settings.jade
    //- script(type="text/ng-template", id="administration/users"): include ./administration/users.jade
    //- script(type="text/ng-template", id="administration/user"): include ./administration/user.jade
  body(layout-fill, ng-class="bodyclass")
    if force != 'modern'
      noscript
        div(style="padding: 40px 15px;text-align: center;")
          h1 Sie haben JavaScript deaktivert.
          a.btn.btn-primary.btn-lg(href="https://"+url+"?force=noscript") Kompatiblitätsmodus aktivieren
    div(layout-fill, ui-view, style="height:100%")
    // SCRIPTS
    script(type="text/javascript", charset="utf-8", src="assets/js/app.concat.js")
    // script(type="text/javascript", charset="utf-8", src="assets/js/app.min.js")
    // SCRIPTS END
