span.main-body(ng-style="$root.mainStyle")
  //- toaster-container.hidden-print(toaster-options="{'position-class': toasterPositionClass}")
  //- .toolbar.hidden-print(ui-view="toolbar")
  //- .content(ui-view="content")
  //- .footer.hidden-print(ui-view="footer")
  section(layout='row', flex='')
    span.left-sidenav(ui-view="left-sidenav")
    md-content(flex='', ui-view="content")
    span.right-sidenav(ui-view="right-sidenav")
//- .load.hidden-print(ng-class="loadclass")
//-   | Lade..