//- span.main-body(ng-style="$root.mainStyle")
  //- toaster-container.hidden-print(toaster-options="{'position-class': toasterPositionClass}")
  //- .toolbar.hidden-print(ui-view="toolbar")
  //- .content(ui-view="content")
  //- .footer.hidden-print(ui-view="footer")
section(layout='row', layout-fill, style="height: 100%")
  span.left-sidenav(ui-view="left-sidenav")
  md-content(layout='column', layout-fill, , style="height: 100%", ui-view="content")
  span.right-sidenav(ui-view="right-sidenav")
//- .load.hidden-print(ng-class="loadclass")
//-   | Lade..