//- .container()
//- nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
//-   .container
//-     .navbar-left
//-       p.navbar-text Admininstration
//-     form.navbar-from.navbar-right
//-       .btn-group
//-         button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
//-           i.fa.fa-plus
//-         button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
//-           i.fa.fa-download
//-         button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
//-           i.fa.fa-refresh
//-         button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
//-           | HTML
//-         button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
//-           i.fa.fa-floppy-o
//-       button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
//-         i.fa.fa-cog
md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Settings', ng-click='toggleLeft()', hide-gt-md='')
      ng-md-icon(icon='menu', size="28", style='fill: white;')
    |         
    h2
      span Toolbar with Icon Buttons
    |         
    span(flex='')
    |         
    md-button.md-icon-button(aria-label='Favorite')
      ng-md-icon(icon='favorite', style='fill: greenyellow;', size="28")
    |         
    md-button.md-icon-button(aria-label='More', ng-click='toggleRight()')
      //- md-icon(md-svg-icon='img/icons/more_vert.svg' )
      ng-md-icon(icon="more_vert", size="28", style='fill: white;')
div(layout='column', layout-fill='', layout-align='top center')
  p
    | The left sidenav will &apos;lock open&apos; on a medium (&gt;=960px wide) device.     
  p
    | The right sidenav will focus on a specific child element.          
div(flex='')