/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

// Fonts
// @import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,latin-ext);

// angular-material
@import (less) "./../third-party/angular-material/angular-material.css";

// angular-medium-editor
@import (less) "./../third-party/medium-editor/dist/css/medium-editor.css";
// @import (less) "./../third-party/medium-editor/dist/css/themes/bootstrap.css";

//Font Awesome
@import "./../third-party/font-awesome/less/font-awesome.less";

// leaflet.js - AngularJS directive to embed an interact with maps managed by Leaflet library: https://github.com/tombatossals/angular-leaflet-directive
// @import (less) "./../third-party/leaflet/dist/leaflet.css";
// @import (less) "./../third-party/Leaflet.label/dist/leaflet.label.css";


html {
  height: 100%;
  body {
    height: 100%;
  }
}

// Images
img {
  max-width: 100%;
}

// Ace
.ace_editor { height: 300px; }

md-bottom-sheet {
  &.no-padding {
    margin-right: -16px;
    margin-left: -16px;
    padding-top: 0;
    border-top: 0;
  }
}

// angular material icons TODO use angular material style and extend 
.md-icon-button {
  ng-md-icon {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
}

// Sidebar
md-list-item .md-list-item-inner>ng-md-icon:first-child,
md-list-item>ng-md-icon:first-child {
  margin-right: 32px;
}

md-list-item .md-list-item-inner>div.md-primary>ng-md-icon,
md-list-item .md-list-item-inner>div.md-secondary>ng-md-icon,
md-list-item .md-list-item-inner>ng-md-icon.md-secondary,
md-list-item .md-list-item-inner>ng-md-icon:first-child,
md-list-item>div.md-primary>ng-md-icon,
md-list-item>div.md-secondary>ng-md-icon,
md-list-item>ng-md-icon.md-secondary,
md-list-item>ng-md-icon:first-child {
  width: 24px;
  margin-top: 21px;
  margin-bottom: 12px;
  box-sizing: content-box;
}

// Input with Icon / Botton
md-input-container {
  > .md-button.md-icon-button {
    width: 24px;
    height: 24px;
  }
  > .md-button.md-icon-button,
  > ng-md-icon {
    position: absolute;
    top: 21px;
    left: 2px;
    + input {
      // margin-left: $icon-offset;
      margin-left: 36px;
    }
  }
}


md-tabs.fill-height {
  display: flex;
  flex-direction: column;

  md-tabs-wrapper {

  }
  md-tabs-content-wrapper {
    flex: 1; // flex tab to heigest visible heigh
    flex-direction: column;
    display: flex;  // apply flex to childrens
    md-tab-content {
      &.md-active {
        flex: 1; // flex tab to heigest visible heigh
        flex-direction: column;
        display: flex; // apply flex to childrens
      }
    }
  }
}