//- .container()
//- nav.navbar.navbar-inverse.navbar-fixed-bottom(role="administration", ng-show="$root.authenticated")
//-   .container
//-     .navbar-left
//-       p.navbar-text Admininstration
//-     form.navbar-from.navbar-right
//-       .btn-group
//-         button.btn.btn-warning.navbar-btn(ng-if="add", title="Hinzufügen", ng-click="add()")
//-           i.fa.fa-plus
//-         button.btn.btn-success.navbar-btn(ng-if="download", title="Herunterladen", ng-click="download()")
//-           i.fa.fa-download
//-         button.btn.btn-success.navbar-btn(ng-if="refresh", title="Aktualisieren", ng-click="refresh()")
//-           i.fa.fa-refresh
//-         button.btn.btn-success.navbar-btn(ng-if="toogleHtml", title="HTML-Modus umschalten", ng-click="toogleHtml()")
//-           | HTML
//-         button.btn.btn-primary.navbar-btn(ng-if="save", title="Speichern", ng-click="save()")
//-           i.fa.fa-floppy-o
//-       button.btn.btn-default.navbar-btn(title="Einstellungen", bs-dropdown="adminSettingDropdown", ng-click="$event.stopPropagation();", data-template="bootstrap/dropdown", data-placement="top-left", data-html="true")
//-         i.fa.fa-cog
md-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Settings', ng-click='toggleLeft()', hide-gt-md='')
      ng-md-icon(icon='menu', size="28", style='fill: white;')
    h2
      span Bugwelder Sails       
    span(flex='')  
    md-button.md-icon-button(aria-label='Favorite')
      ng-md-icon(icon='favorite', style='fill: greenyellow;', size="28")     
    md-button.md-icon-button(aria-label='More', ng-click='toggleRight()')
      //- md-icon(md-svg-icon='img/icons/more_vert.svg' )
      ng-md-icon(icon="more_vert", size="28", style='fill: white;')
md-content(layout="column", flex)
  md-content(layout-padding)
    //- md-input-container.md-no-float
    md-input-container.md-icon-float
      label Suche
      md-button.md-icon-button(aria-label='Search', ng-click="checkInput();")
        ng-md-icon(icon='search', size="28")
      //- ng-md-icon(icon='search', size="28")
      input(ng-keyup="checkInputEvent($event, search)", type="text", ng-model='search')
  md-content(layout-padding, flex)
    md-list
      md-list-item.md-2-line(ng-repeat="product in products | limitTo:10", ng-click="showProduct(product, $event)")
        // img.md-avatar(ng-src='{{product.images[0].url}}', alt='{{todos[0].who}}')
        .md-list-item-text
          h3 {{product.sku}}
          p {{ product.name }}