md-bottom-sheet.md-list.no-padding
  md-toolbar
    .md-toolbar-tools
      h2 {{product.sku}}
      span(flex='')
      md-button.md-icon-button(aria-label='Close', ng-click='hide()')
        ng-md-icon(icon='close', style='fill: white;', size="28")  
  md-content
    //- img(ng-src="{{product.images[0].url}}", width="200")
    div(layout='', layout-sm='column')
      md-input-container(flex='')
        label Heritage Menge
        input(ng-model='product.stock_vwheritage_qty', type='number')
      md-input-container(flex='')
        label Strichweg Menge
        input(ng-model='product.stock_strichweg_qty', type='number')
      md-input-container(flex='')
        label Gesamtmenge
        input(ng-model='product.qty', type='number')
    div(layout='', layout-sm='column')
      md-input-container(flex='')
        label Strichweg Range
        input(ng-model='product.stock_strichweg_range', type='text')
      md-input-container(flex='')
        label Strichweg Row
        input(ng-model='product.stock_strichweg_row', type='text')
    section(layout='row', layout-sm='column')
      span(flex='')
      md-button.md-raised(aria-label='Cancel', ng-click='hide()') Abbrechen
      md-button.md-raised.md-primary(aria-label='Save' ng-click="save(); hide()") Speichern